fastapi==0.104.1
uvicorn==0.23.2
pandas==2.1.1
boto3==1.28.62
python-multipart==0.0.6

scikit-learn==1.6.1
numpy==1.26.4
xgboost
starlette

seaborn
matplotlib
imblearn
shap
optuna
plotly

# pip install --upgrade numpy==1.26.4 pandas==2.1.1 scikit-learn==1.6.1


# pip install --upgrade fastapi==0.104.1 uvicorn==0.23.2 pandas==2.1.1 boto3==1.28.62 python-multipart==0.0.6 scikit-learn numpy
